@media (max-width: 768px) {
  .resume-cover-nav-margin {
    margin-left: 50px;
  }
  /* *首頁 自我介紹 RWD 文字 照片 */
  .resume-about-title,
  .resume-about-content,
  .resume-about-remark,
  .resume-about-icon-padding {
    text-align: center;
  }

  .resume-about-Img {
    width: auto;
    height: 285px;
    object-fit: cover;
  }

  .featurette .resume-aboutMe-col {
    order: 2;
  }

  .featurette .resume-aboutMeImg-col {
    order: 1;
  }

  .resume-about-icon-padding {
    padding-left: 30px;
  }

  /* * 星際旅行---小螢幕圖片專區 */
  .introduction-of-works-interstellar-travel-background {
    display: none;
  }

  .introduction-of-works-interstellar-travel-sm {
    display: block;
  }

  .introduction-of-works-interstellar-travel-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 星際旅行 - 小螢幕文字區 */

  .introduction-of-works-blockDiv {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .introduction-of-works-interstellar-travel-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .introduction-of-works-interstellar-travel-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .introduction-of-works-interstellar-travel-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .introduction-of-works-interstellar-travel-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .introduction-of-works-interstellar-travel-button-box {
    padding-bottom: 48px;
  }

  .introduction-of-works-interstellar-travel-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }
  /* * 首頁 作品介紹 理財APP---圖片區 */
  .financial-management-Img {
    display: none;
  }

  .financial-management-Img-sm {
    display: block;
  }

  .financial-management-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 首頁 作品介紹 理財APP---小螢幕文字區 */

  .financial-management-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .financial-management-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .financial-management-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .financial-management-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .financial-management-button-box {
    padding-bottom: 48px;
  }

  .financial-management-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }

  /* * 醫美診所---小螢幕圖片專區 */
  .medical-beauty-clinic-background {
    display: none;
  }

  .medical-beauty-clinic-sm {
    display: block;
  }

  .medical-beauty-clinic-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 醫美診所 - 小螢幕文字區 */

  .medical-beauty-clinic-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .medical-beauty-clinic-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .medical-beauty-clinic-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .medical-beauty-clinic-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .medical-beauty-clinic-button-box {
    padding-bottom: 48px;
  }

  .medical-beauty-clinic-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }

  /* *服務流程 */
  .serviceProcess-flex {
    width: 351px;
    height: auto;
  }

  /** blog */
  .blog-about {
    text-align: center;
  }

  .blog-flex2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .blog-flex .col-lg-1 {
    order: 1;
  }

  .blog-flex .blog-flex2 {
    order: 2;
  }

  .blog {
    flex-direction: column-reverse;
  }

  .blog-flex-column {
    flex-direction: row !important;
    padding-top: 20px !important;
    padding-bottom: 24px !important;
  }

  .fixed2 {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* 隐藏滚动条 - Firefox */
    -ms-overflow-style: none; /* 隐藏滚动条 - IE and Edge */
  }

  .fixed2::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 - Chrome, Safari, Opera */
  }

  .nav {
    display: inline-block;
    padding: 0 10px; /* 添加一些水平间距以增加可点击区域 */
  }

  .nav-item {
    display: inline-block;
  }

  .featurette .col-md-7 {
    order: 2;
  }
  .featurette .col-md-5 {
    order: 1;
  }

  .box-hidden {
    display: block;
  }

  .box-big-hidden {
    display: none;
  }
}

@media (max-width: 1380px) {
  /* *部落格 */
  .blog-flex {
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
  }
}

@media (max-width: 1626px) {
  /* * 首頁 服務項目 小螢幕 */
  .service-items-img {
    height: auto;
    padding-bottom: 120px;
  }

  .service-items-box {
    margin: 24px 34.5px 24px 34.5px;
  }

  .service-items-title {
    padding: 0;
    margin: 40px 83.5px 24px 83.5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .service-items-button {
    width: 208px;
    height: 40px;
    padding: 8px 16px 8px 16px !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }

  /* * Footer 小螢幕 */
  .anypage-footer-img {
    height: auto;
  }

  .anypage-footer {
    display: inline;
  }
  .anypage-footer-box1 {
    align-items: center;
  }

  .anypage-footer-box2 {
    display: block;
    text-align: center;
  }

  .anypage-footer-box-Noel {
    margin: 40px 0 24px 0;
    width: 120px;
    height: 54px;
  }

  .anypage-footer-box-content {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .anypage-footer-box-gmail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(145, 145, 145, 1);
    padding: 24px 0 0 0;
  }

  .anypage-footer-box-firstButton {
    margin-top: 40px;
  }

  .anypage-footer-box-Button {
    height: 64px;
    padding: 4px 24px 4px 24px;
  }
}

@media (max-width: 1000px) {
  /* *作品集 modal */
  .modal-star-travel-position2-active {
    display: none;
  }

  .modal-star-travel-position2-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid rgba(193, 193, 193, 1);
    margin-top: 24px;
    padding-top: 24px;
  }

  .modal-star-travel2-top {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    padding-top: 24px;
    color: rgba(91, 91, 91, 1);
  }

  .model-img img {
    width: 319px;
    height: 216px;
    border-radius: 8px;
  }

  .model-img2 img {
    width: 319px;
    height: 290px;
    border-radius: 8px;
  }

  /* * 作品集modal結束*/
}

@media (min-width: 768px) {
  /* * 首頁 自我介紹 col */
  .resume-aboutMe-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .resume-aboutMe-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .resume-aboutMe-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .resume-aboutMe-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .resume-aboutMe-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .resume-aboutMe-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .resume-aboutMe-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .resume-aboutMe-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .resume-aboutMe-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .resume-aboutMe-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .resume-aboutMe-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .resume-aboutMe-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* * 首頁的自我介紹圖片  */
  .resume-aboutMeImg-col {
    flex: 0 0 55.333333%;
    max-width: 55.333333%;
  }
  .resume-aboutMe-col {
    flex: 0 0 44.666667%;
    max-width: 44.666667%;
  }
}
