@import url("https://fonts.googleapis.com/css2?family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body {
  font-family: "Tinos", "Noto Sans TC", serif;
}

/* * nav */
nav {
  padding: 32px !important;
}

.navbar_span {
  color: black;
  font-weight: bold;
}

.nav-font {
  font-size: 22px;
  padding-bottom: 5px;
}

/* * 封面 */

.featurette-heading {
  font-size: 40px;
}

.title-img {
  width: 1154px;
  height: 792px;
  object-fit: cover;
}

.title {
  display: flex !important;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title-p,
.title-span {
  padding-top: 8px;
  font-size: 22px;
}

.title-span {
  color: #5b5b5b;
}

.title-span2 {
  padding-top: 16px;
  color: #c1c1c1;
}

.title-p {
  margin: 0px;
}

.title-icon {
  padding-top: 60px;
  font-size: 40px;
}

.icon {
  padding-left: 16px;
  color: black;
}

.row {
  --bs-gutter-x: 0;
}

/* * 作品介紹 */

.project-Introduction-title {
  padding-top: 120px;
  padding-bottom: 80px;
  font-size: 32px;
  font-weight: bold;
}

.box {
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  width: 526px;
  height: 400px;
  top: 250px;
  right: 315px;
  border-radius: 10px;
}

.box-title {
  font-size: 28px;
  font-weight: bold;
  padding-top: 20px;
}

.box-content {
  font-size: 18px;
}

.box-tag {
  font-size: 18px;
  color: black;
  width: Hug (88px) px;
  height: Hug (32px) px;
  margin-right: 8px;
  padding: 4px 12px 4px 12px;
  background-color: white;
  border-radius: 16px;
  opacity: 0px;
}

.project-Introduction-drink-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E7%90%86%E8%B2%A1app.png?alt=media&token=738031c8-1df3-4369-8a4d-fba3912abd86");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.project-Introduction-drink-img h2,
.project-Introduction-drink-img p {
  color: white;
}

.project-Introduction-game-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E7%B2%B9%E7%A9%B6%E7%BE%8E%E5%AD%B8.png?alt=media&token=f7bd2508-1a8d-4dcf-9199-724053627602");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.project-Introduction-game-img h2,
.project-Introduction-game-img p {
  color: white;
}

.box-drink {
  padding-top: 80px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  width: 526px;
  height: 400px;
  top: 250px;
  left: 315px;
  border-radius: 10px;
}

.box-bigtag {
  padding-bottom: 20px;
}

.box-button {
  width: 180px;
  height: 62px;
  border-radius: 5px;
  padding: 16px 32px 16px 32px;
  font-size: 20px;
}

.box-button-top {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bi-right {
  padding-left: 8px;
  width: 24px;
  height: 24px;
  font-size: 18px;
}

/* * 服務項目 */

.serviceContent-box {
  width: 306px;
  height: 306px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  margin-left: 16px;
  font-size: 28px;
  transition: box-shadow 1s, background-color 1s, filter 1s;
}

.serviceContent-box:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.5);
}

.service-button {
  width: 300px;
  height: 62px;
  border-radius: 5px;
  padding: 16px 32px 16px 32px;
  font-size: 20px;
}

.service-Introduction-title {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 28px;
  line-height: 33.6px;
  font-weight: bold;
}

.service-button-pd {
  padding-bottom: 120px;
}

.service-title {
  padding-left: 32px;
  padding-top: 28px;
  font-family: Noto Sans;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.service-flex {
  display: flex;
  align-items: center;
}

.service-flex2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.service-number {
  font-family: Tourney;
  padding-left: 32px;
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: 72px;
  font-weight: 400;
  line-height: 86.4px;
  color: #919191;
}

.bg-gray {
  background-color: #3b3b3b;
  margin-bottom: 10px;
}

.bi-down {
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 20px;
}

.service-content {
  font-family: Noto Sans;
  padding-left: 32px;
  padding-right: 108px;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #e9e9e9;
}
/* * 精選文章 */

.owl-theme .item {
  height: 398px;
  padding: 1rem;
}

.owl-carousel .item h4 {
  color: #fff;
  font-weight: 400;
  font-size: 1.4375rem;
  margin-top: 0rem;
}

.owl-hidden {
  opacity: 1 !important;
}

.featured-img {
  width: 416px;
  height: 234px;
  border-radius: 8px;
  margin-bottom: 16px;
  opacity: 0px;
}

.featured-content {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.featured-tag-pd {
  padding-top: 16px;
}

.featured-tag {
  background: #f1f1f1;
  width: 105px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  gap: 10px;
  border-radius: 12px;
  opacity: 0px;
}

.featured-span {
  font-size: 20px;
}

a {
  text-decoration: none;
}

.service-button-pd-test {
  padding-bottom: 120px;
}

/* * footer  */

.footer-nav {
  padding-bottom: 80px;
}

.footer-nav-li {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

.footer-button {
  width: 306px;
  height: 72px;
  font-size: 20px;
  text-align: left;
}

.footer-icon {
  font-size: 25px;
  padding-right: 10px;
}

.footer-title {
  font-size: 30px;
}

.footer-content {
  font-size: 22px;
}

.footer-tag {
  font-size: 22px;
  color: #919191;
}

@media (max-width: 1380px) {
  .blog-flex {
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 20px;
  }
}

@media (max-width: 768px) {
  .blog-about {
    text-align: center;
  }
  /* *封面 */
  .featurette .row {
    display: flex;
    flex-direction: column;
  }

  .featurette .col-md-5 {
    order: 2;
  }

  .featurette .col-md-7 {
    order: 1;
  }

  .title-p,
  .title-span,
  .title-icon {
    text-align: center;
  }

  .box {
    padding-top: 80px;
    padding-bottom: 56px;
    padding-left: 40px;
    padding-right: 40px;
    position: none;
    width: 526px;
    height: 400px;
  }

  /* *作品介紹  */
  .project-Introduction-perfume-img,
  .project-Introduction-game-img,
  .project-Introduction-drink-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 800px;
  }

  .project-Introduction-serve-img {
    height: auto !important;
    padding-bottom: 120px;
  }

  .box {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  .box-drink {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 服務項目*/
  .serviceContent-box {
    margin-left: 0px;
  }

  /* * footer  */
  .footer-nav {
    flex-direction: column;
    align-items: center;
  }

  .footer-title,
  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-title {
    padding-top: 20px;
  }
  .footer-content {
    padding-top: 10px;
  }

  .footer-content2 {
    padding-top: 2px;
    font-size: 20px;
  }

  .service-title {
    padding-top: 0px;
    padding-left: 0px;
    text-align: center;
  }

  .service-content {
    padding: 0px;
    text-align: left;
  }

  .service-flex {
    flex-direction: column;
    text-align: center;
    padding-left: 24px;
    padding-right: 24px;
  }

  .service-number {
    padding: 0px;
  }

  .service-flex2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .service-flex .col-lg-1 {
    order: 1;
  }

  .service-flex .service-flex2 {
    order: 2;
  }

  .blog-flex2 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .blog-flex .col-lg-1 {
    order: 1;
  }

  .blog-flex .blog-flex2 {
    order: 2;
  }

  .project-Introduction-title {
    padding-top: 40px;
  }

  /** blog */
  .nav.flex-column {
    flex-direction: column;
  }

  .nav-item {
    text-align: center;
  }

  .blog {
    flex-direction: column-reverse;
  }

  .blog-flex-column {
    flex-direction: row !important;
    padding-top: 20px !important;
    padding-bottom: 24px !important;
  }

  .fixed2 {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* 隐藏滚动条 - Firefox */
    -ms-overflow-style: none; /* 隐藏滚动条 - IE and Edge */
  }

  .fixed2::-webkit-scrollbar {
    display: none; /* 隐藏滚动条 - Chrome, Safari, Opera */
  }

  .nav {
    display: inline-block;
    padding: 0 10px; /* 添加一些水平间距以增加可点击区域 */
  }

  .nav-item {
    display: inline-block;
  }
}

@media (min-width: 768px) {
  /* * 封面  */
  .featurette .row {
    display: flex;
    flex-direction: row;
  }

  .featurette .col-md-5 {
    order: 1;
  }

  .featurette .col-md-7 {
    order: 2;
  }

  .title-img {
    width: 1150px;
    height: 800px;
  }
}

/* * 第二面作品集  */

.second-content {
  font-size: 28px;
  font-weight: bold !important;
  margin-top: 10px;

  line-height: 28.8px;
}

.second-img {
  display: flex;
  justify-content: center;
  align-items: center;
}

.second-title-color {
  color: gray !important;
}

.second-pd {
  padding-top: 120px;
  padding-bottom: 100px;
}

.SecondTitle {
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  padding-top: 16px;
}

.information {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  padding-top: 8px;
  color: #919191;
}

.tag-content {
  padding-top: 24px;
}

.hashtag {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  background: #f1f1f1;
  padding: 4px 12px 4px 12px;
  gap: 10px;
  border-radius: 16px;
}

.secondImg {
  width: 100%;
  max-height: 400px;
  border-radius: 2px;
  gap: 0px;
  opacity: 0px;
}

.project-modal-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-modal-content {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  padding-top: 40px;
  border-bottom: 10px;
  border-color: blue;
  font-size: 18px;
  font-weight: bold;
}

.vr-horizontal {
  border-bottom: 1px solid #000; /* 調整分隔線的樣式和顏色 */
  margin: auto; /* 水平置中 */
  width: 100%; /* 確保分隔線橫跨整個父元素的寬度 */
}

.modal-header {
  border-bottom: 0px;
  padding-bottom: 0px;
}

.model-bgpd {
  margin-top: 40px;
  padding-top: 80px;
}

.modal-img {
  width: 720px;
  height: 488px;
  border-radius: 20px;
  margin-bottom: 24px;
}

.project-modal-img-content {
  font-size: 22px;
  font-weight: bold;
  line-height: 24px;
  padding-top: 16px;
  padding-bottom: 56px;
}

/* * 圖片放大 */

.enlarged-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.enlarged-image {
  max-width: 90%;
  max-height: 90%;
}

/* *gotop */

.goTop {
  position: fixed;
  right: 10px;
  bottom: 10px;
  transform: translateX(0);
  transition: transform 0.2s;
}

.goTop.hide {
  transform: translateX(120%);
}

.goTop .goTopBtn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.goTop .goTopBtn .bi-arrow-up-circle-fill {
  color: #3d82ad;
  font-size: 50px;
}

.modal-hover {
  cursor: pointer;
}

/* *常見問題 */

.qs-title {
  font-size: 24px;
  font-weight: 700;
  line-height: 28.8px;
}

.qs-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: #5b5b5b;
}

.card {
  margin-right: 10px;
}

.project-Introduction-serve-img {
  background-image: url("https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/service-item-bg.png?raw=true");
  background-size: cover;
  background-repeat: no-repeat;

  max-width: 100%;
  height: 1805px;
}

/* *blog  */

.time {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-right: 16px;
  color: #5b5b5b;
}

.blog-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
}

.blog-content {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: black;
}

.blog-title {
  padding-top: 16px;
  font-size: 22px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
}

.blog-flex {
  display: flex;
  align-items: center;
}

.blog-flex2 {
  display: flex;
  flex-direction: column;
  padding-bottom: 32px;
}

.blog-img {
  border-radius: 5px;
}

.blog {
  display: flex;
}

.blog-flex-column {
  flex-direction: column;
  padding-top: 80px;
  font-size: 20px !important;
}

.blog-about {
  font-size: 28px;
  padding-top: 80px;
}

.box-hidden {
  display: none;
}

.box-big-hidden {
  display: block;
}

@media (max-width: 768px) {
  .featurette .col-md-7 {
    order: 2;
  }
  .featurette .col-md-5 {
    order: 1;
  }

  .box-hidden {
    display: block;
  }

  .box-big-hidden {
    display: none;
  }
}

/* * 開始 首頁 Nav */

.resume-cover-nav-li,
.resume-cover-nav-li-padding {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  color: #000000;
}

.resume-cover-nav-li-padding {
  padding-left: 40px;
}

.resume-cover-nav-margin {
  margin-left: 318px;
}

/* * 共通 nav hover 框框 */

.nav-hover-upperLeft {
  top: 0px;
  left: 0px;
  margin-left: 40px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.nav-hover-upperRight {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.nav-hover-lowerRight {
  right: 0;
  bottom: 0;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
.nav-hover-lowerLeft {
  left: 0;
  bottom: 0;
  margin-left: 40px;
  border-left: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
.nav-hover-upperLeft,
.nav-hover-upperRight,
.nav-hover-lowerRight,
.nav-hover-lowerLeft {
  position: absolute;
  width: 10px;
  height: 10px;
  display: none;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-link:hover .nav-hover-upperLeft,
.nav-link:hover .nav-hover-upperRight,
.nav-link:hover .nav-hover-lowerRight,
.nav-link:hover .nav-hover-lowerLeft {
  display: block !important; /* 鼠标悬停时显示 */
}

/* * Nav框框終點 */

/* * 點擊Nav該頁面特效  */

.nav-hover-upperLeft-StopPage,
.nav-hover-upperRight-StopPage,
.nav-hover-lowerRight-StopPage,
.nav-hover-lowerLeft-StopPage {
  position: absolute;
  width: 10px;
  height: 10px;
}

.nav-link:hover .nav-hover-upperLeft-StopPage,
.nav-link:hover .nav-hover-upperRight-StopPage,
.nav-link:hover .nav-hover-lowerRight-StopPage,
.nav-link:hover .nav-hover-lowerLeft-StopPage {
  display: block !important; /* 鼠标悬停时显示 */
}

.nav-hover-upperLeft-StopPage {
  top: 0;
  left: 0px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.nav-hover-upperRight-StopPage {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.nav-hover-lowerRight-StopPage {
  right: 0;
  bottom: 0;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
.nav-hover-lowerLeft-StopPage {
  left: 0;
  bottom: 0;
  border-left: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

/* * Nav padding 特效 */

.nav-hover-upperLeft-StopPage-padding,
.nav-hover-upperRight-StopPage-padding,
.nav-hover-lowerRight-StopPage-padding,
.nav-hover-lowerLeft-StopPage-padding {
  position: absolute;
  width: 10px;
  height: 10px;
}

.nav-link:hover .nav-hover-upperLeft-StopPage-padding,
.nav-link:hover .nav-hover-upperRight-StopPage-padding,
.nav-link:hover .nav-hover-lowerRight-StopPage-padding,
.nav-link:hover .nav-hover-lowerLeft-StopPage-padding {
  display: block !important; /* 鼠标悬停时显示 */
}

.nav-hover-upperLeft-StopPage-padding {
  top: 0;
  left: 40px;
  border-top: 1px solid #919191;
  border-left: 1px solid #919191;
}
.nav-hover-upperRight-StopPage-padding {
  top: 0;
  right: 0;
  border-top: 1px solid #919191;
  border-right: 1px solid #919191;
}
.nav-hover-lowerRight-StopPage-padding {
  right: 0;
  bottom: 0;
  border-right: 1px solid #919191;
  border-bottom: 1px solid #919191;
}
.nav-hover-lowerLeft-StopPage-padding {
  left: 40px;
  bottom: 0;
  border-left: 1px solid #919191;
  border-bottom: 1px solid #919191;
}

/* * Nav Media 768px  */

@media (max-width: 768px) {
  .resume-cover-nav-margin {
    margin-left: 0px;
  }

  /* * 作品集 服務項目 部落格 聯絡我 padding的導覽列 小螢幕*/
  .nav-hover-upperLeft-StopPage-padding {
    left: 0px;
  }
  .nav-hover-lowerLeft-StopPage-padding {
    left: 0px;
  }
}

/* * 首頁自我介紹 992PX*/
@media (max-width: 1200px) {
  .resume-cover-nav-li-padding {
    padding-left: 0px;
  }
}

/* *首頁 自我介紹 篇*/
.resume-aboutMeImg-col,
.resume-aboutMe-col {
  display: flex !important;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

.resume-about-title {
  font-size: 40px;
  font-weight: 600;
  line-height: 48px;
  text-align: left;
  padding-bottom: 24px;
  color: rgba(59, 59, 59, 1);
}

.resume-about-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  padding-bottom: 8px;
  color: rgba(91, 91, 91, 1);
}

.resume-about-remark {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  padding-top: 8px;
  color: rgba(193, 193, 193, 1);
}

.resume-about-icon-padding {
  padding-top: 60px;
}

.resume-about-title-icon {
  font-size: 38px;
  padding-right: 25px;
  color: rgba(91, 91, 91, 1);
}

.resume-about-Img {
  width: 1154px;
  height: 792px;
  object-fit: cover;
}

/* *首頁 自我介紹 RWD 文字 照片 */

@media (max-width: 768px) {
  .resume-about-title,
  .resume-about-content,
  .resume-about-remark,
  .resume-about-icon-padding {
    text-align: center;
  }

  .resume-about-Img {
    width: auto;
    height: 285px;
    object-fit: cover;
  }

  .featurette .resume-aboutMe-col {
    order: 2;
  }

  .featurette .resume-aboutMeImg-col {
    order: 1;
  }

  .resume-about-icon-padding {
    padding-left: 30px;
  }
}

/* * 首頁 自我介紹 col */
@media (min-width: 768px) {
  .resume-aboutMe-col-md-1 {
    flex: 0 0 8.333333%;
    max-width: 8.333333%;
  }
  .resume-aboutMe-col-md-2 {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
  .resume-aboutMe-col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .resume-aboutMe-col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
  .resume-aboutMe-col-md-5 {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
  }
  .resume-aboutMe-col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .resume-aboutMe-col-md-7 {
    flex: 0 0 58.333333%;
    max-width: 58.333333%;
  }

  .resume-aboutMe-col-md-8 {
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
  .resume-aboutMe-col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .resume-aboutMe-col-md-10 {
    flex: 0 0 83.333333%;
    max-width: 83.333333%;
  }
  .resume-aboutMe-col-md-11 {
    flex: 0 0 91.666667%;
    max-width: 91.666667%;
  }
  .resume-aboutMe-col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  /* * 首頁的自我介紹圖片  */
  .resume-aboutMeImg-col {
    flex: 0 0 53.333333%;
    max-width: 53.333333%;
  }
  .resume-aboutMe-col {
    flex: 0 0 46.666667%;
    max-width: 46.666667%;
  }
}

/* * 首頁 作品介紹 文字  */

.introduction-of-works-blockDiv {
  padding-top: 120px;
  padding-bottom: 80px;
  text-align: center;
}

.introduction-of-works-BigTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 38.4px;
  letter-spacing: 0.12em;
  padding-left: 16px;
  padding-right: 16px;
}

/* * 作品介紹 -- 星際旅行 */

.introduction-of-works-interstellar-travel-background {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E6%98%9F%E9%9A%9B%E6%97%85%E8%A1%8C.png?alt=media&token=948984b9-6ad5-4eae-b040-bf487b9ed3b4");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  max-width: 100%;
  height: 800px;
}

.introduction-of-works-interstellar-travel-textBox-position {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  height: 800px;
}

.introduction-of-works-interstellar-travel-textBox {
  position: absolute;
  width: 526px;
  height: 400px;
  top: 250px;
  right: 315px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.introduction-of-works-interstellar-travel-firstBox {
  padding: 80px 40px 40px 40px;
}

.introduction-of-works-interstellar-travel-hr {
  border: 0px, 0px, 1px, 0px;
  margin-top: 40px;
  color: white;
  opacity: 1;
}

.introduction-of-works-interstellar-travel-title {
  padding: 0px 0px 8px 0px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.introduction-of-works-interstellar-travel-content {
  padding: 0px 0px 24px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.introduction-of-works-interstellar-travel-hashTag {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 88px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  margin-right: 16px;
  border-radius: 16px;
  color: rgba(59, 59, 59, 1);
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px;
}

.introduction-of-works-interstellar-travel-button-box {
  display: flex;
  justify-content: center;
}

.introduction-of-works-interstellar-travel-button {
  width: 176px;
  height: 62px;
  padding: 16px 8px 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.introduction-of-works-interstellar-travel-rightIcon {
  width: 15.57px;
  height: 15.16px;
  color: rgba(255, 255, 255, 1);
}

/* * 作品介紹 -- 星際旅行 RWD */

.introduction-of-works-interstellar-travel-sm {
  display: none;
}

@media (max-width: 768px) {
  /* * 星際旅行---小螢幕圖片專區 */
  .introduction-of-works-interstellar-travel-background {
    display: none;
  }

  .introduction-of-works-interstellar-travel-sm {
    display: block;
  }

  .introduction-of-works-interstellar-travel-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 星際旅行 - 小螢幕文字區 */

  .introduction-of-works-blockDiv {
    padding-top: 80px;
    padding-bottom: 40px;
  }

  .introduction-of-works-interstellar-travel-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .introduction-of-works-interstellar-travel-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .introduction-of-works-interstellar-travel-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .introduction-of-works-interstellar-travel-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .introduction-of-works-interstellar-travel-button-box {
    padding-bottom: 48px;
  }

  .introduction-of-works-interstellar-travel-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }
}

.introduction-of-works-title-deco {
  padding-bottom: 16px;
  border: 1px 0px 0px 0px;
}

/* * 首頁 作品介紹 理財App 大螢幕區 */

.financial-management-Img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E7%90%86%E8%B2%A1app.png?alt=media&token=738031c8-1df3-4369-8a4d-fba3912abd86");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.financial-management-textBox {
  position: absolute;
  width: 526px;
  height: 400px;
  top: 250px;
  left: 315px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.financial-management-firstBox {
  padding: 80px 40px 40px 40px;
}

.financial-management-hr {
  border: 0px, 0px, 1px, 0px;
  margin-top: 40px;
  color: white;
  opacity: 1;
}

.financial-management-title {
  padding: 0px 0px 8px 0px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.financial-management-content {
  padding: 0px 0px 24px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.financial-management-hashTag {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 88px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  margin-right: 16px;
  border-radius: 16px;
  color: rgba(59, 59, 59, 1);
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px;
}

.financial-management-button-box {
  display: flex;
  justify-content: center;
}

.financial-management-button {
  width: 176px;
  height: 62px;
  padding: 16px 8px 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.financial-management-rightIcon {
  width: 15.57px;
  height: 15.16px;
  color: rgba(255, 255, 255, 1);
}

.financial-management-Img-sm {
  display: none;
}

@media (max-width: 768px) {
  /* * 首頁 作品介紹 理財APP---圖片區 */
  .financial-management-Img {
    display: none;
  }

  .financial-management-Img-sm {
    display: block;
  }

  .financial-management-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 首頁 作品介紹 理財APP---小螢幕文字區 */

  .financial-management-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .financial-management-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .financial-management-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .financial-management-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .financial-management-button-box {
    padding-bottom: 48px;
  }

  .financial-management-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }
}

/* * 作品介紹 -- 醫美診所 */

.medical-beauty-clinic-background {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E7%B2%B9%E7%A9%B6%E7%BE%8E%E5%AD%B8.png?alt=media&token=ee5ea9f1-6f78-480c-a72b-519c9eb9b66f");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  max-width: 100%;
  height: 800px;
}

.medical-beauty-clinic-textBox-position {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.medical-beauty-clinic-textBox {
  position: absolute;
  width: 526px;
  height: 400px;
  top: 250px;
  right: 315px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.1);
}

.medical-beauty-clinic-firstBox {
  padding: 80px 40px 40px 40px;
}

.medical-beauty-clinic-hr {
  border: 0px, 0px, 1px, 0px;
  margin-top: 40px;
  color: white;
  opacity: 1;
}

.medical-beauty-clinic-title {
  padding: 0px 0px 8px 0px;
  font-size: 28px;
  font-weight: 700;
  line-height: 33.6px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.medical-beauty-clinic-content {
  padding: 0px 0px 24px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.medical-beauty-clinic-hashTag {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  width: 88px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  margin-right: 16px;
  border-radius: 16px;
  color: rgba(59, 59, 59, 1);
  background: rgba(255, 255, 255, 1);
  border-bottom: 1px;
}

.medical-beauty-clinic-button-box {
  display: flex;
  justify-content: center;
}

.medical-beauty-clinic-button {
  width: 176px;
  height: 62px;
  padding: 16px 8px 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.medical-beauty-clinic-rightIcon {
  width: 15.57px;
  height: 15.16px;
  color: rgba(255, 255, 255, 1);
}

/* * 作品介紹 -- 醫美診所 RWD */

.medical-beauty-clinic-sm {
  display: none;
}

@media (max-width: 768px) {
  /* * 醫美診所---小螢幕圖片專區 */
  .medical-beauty-clinic-background {
    display: none;
  }

  .medical-beauty-clinic-sm {
    display: block;
  }

  .medical-beauty-clinic-textBox {
    display: flex !important;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    position: initial !important;
    width: 483px !important;
    height: 100% !important;
  }

  /* * 醫美診所 - 小螢幕文字區 */

  .medical-beauty-clinic-firstBox {
    padding: 24px 24px 24px 24px;
  }

  .medical-beauty-clinic-title {
    padding: 0 0 8px 0;
    margin: 0;
    text-align: center;
    color: rgba(30, 30, 30, 1);
  }

  .medical-beauty-clinic-content {
    padding: 0 0 16px 0;
    margin: 0;
    text-align: center;
    color: rgba(91, 91, 91, 1);
  }

  .medical-beauty-clinic-hashTag {
    color: rgba(59, 59, 59, 1);
    text-align: center;
    background: rgba(241, 241, 241, 1);
  }

  .medical-beauty-clinic-button-box {
    padding-bottom: 48px;
  }

  .medical-beauty-clinic-button {
    width: 128px;
    height: 40px;
    padding: 8px 8px 8px 16px;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 1);
  }
}

/* *首頁 服務項目 */

.service-items-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/services.png?alt=media&token=bbf1a669-b6c9-489f-ae3d-f735e40e0157");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 881px;
}

.service-items-box {
  width: 306px;
  height: 306px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: 20px, 30px, 20px, 30px;
  margin-left: 16px;
  font-size: 28px;
  color: rgba(255, 255, 255, 1);
  transition: box-shadow 1s, background-color 1s, filter 1s;
}

.service-items-box:hover {
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.5);
  filter: brightness(1.5);
}

.service-items-title {
  padding-top: 80px;
  padding-bottom: 40px;
  font-size: 28px;
  font-weight: 600;
  line-height: 33.6px;
  text-align: center;
}

.service-items-position {
  width: 176px;
  height: 62px;
  padding: 16px 8px 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.service-items-button-box {
  display: flex;
  justify-content: center;
}

.service-items-button {
  width: 276px;
  height: 62px;
  padding: 16px 8px 16px 32px;
  border-radius: 5px;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
}

.service-items-rightIcon {
  width: 15.57px;
  height: 15.16px;
  color: rgba(255, 255, 255, 1);
}

/* * 首頁 服務項目 小螢幕 */

@media (max-width: 1626px) {
  .service-items-img {
    height: auto;
    padding-bottom: 120px;
  }

  .service-items-box {
    margin: 24px 34.5px 24px 34.5px;
  }

  .service-items-title {
    padding: 0;
    margin: 40px 83.5px 24px 83.5px;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
  }

  .service-items-button {
    width: 208px;
    height: 40px;
    padding: 8px 16px 8px 16px !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-align: left;
  }
}

/* * 首頁 精選文章  */

.card {
  border: none;
}

.featured-articlescard-img-top {
  height: 234px;
  border-radius: 8px;
}

.featured-articlescard-img-content {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.featured-articlescard-img-hashtag-box {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
}

.featured-articlescard-img-hashtag {
  width: 105px;
  height: 32px;
  padding: 4px 12px 4px 12px;
  border-radius: 16px;
  background: rgba(241, 241, 241, 1);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.featured-articlescard-img-time {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: rgba(91, 91, 91, 1);
}

/* * Footer  */

.anypage-footer-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/footer-lg.png?alt=media&token=ae3be735-f3bc-441a-bbde-86a707aec50e");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 424px;
}

.anypage-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.anypage-footer-box1 {
  display: flex;
  flex-direction: column;
}

.anypage-footer-box2 {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
}

.anypage-footer-box-Noel {
  width: 120px;
  height: 54px;
  margin: 119px 0 24px 0;
}

.anypage-footer-box-content {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  color: rgba(59, 59, 59, 1);
}

.anypage-footer-box-gmail {
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(145, 145, 145, 1);
  padding: 24px 0 0 0;
}

.anypage-footer-box-firstButton {
  margin-bottom: 80px;
  margin-top: 80px;
}



.anypage-footer-box-Button {
  width: 306px;
  height: 72px;
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-align: left;
  margin-bottom: 24px;
}

@media (max-width: 1626px) {
  /* * Footer 小螢幕 */
  .anypage-footer-img {
    height: auto;
  }

  .anypage-footer {
    display: inline;
  }
  .anypage-footer-box1 {
    align-items: center;
  }

  .anypage-footer-box2 {
    display: block;
    text-align: center;
  }

  .anypage-footer-box-Noel {
    margin: 40px 0 24px 0;
    width: 120px;
    height: 54px;
  }

  .anypage-footer-box-content {
    font-size: 16px;
    line-height: 24px;
    text-align: left;
  }

  .anypage-footer-box-gmail {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: rgba(145, 145, 145, 1);
    padding: 24px 0 0 0;
  }

  .anypage-footer-box-firstButton {
    margin-top: 40px;
  }

  .anypage-footer-box-Button {
    height: 64px;
    padding: 4px 24px 4px 24px;
  }
}

/* * 作品集Title */

.works-img {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/homework2-4f72e.appspot.com/o/%E4%BD%9C%E5%93%81%E9%9B%86.png?alt=media&token=9873994a-b0cc-4614-b456-657d14904bfe");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 460px;
}

.works-img-Firsttitle,
.works-img-Secondtitle {
  font-size: 24px;
  font-weight: 400;
  line-height: 28.8px;
  color: rgba(30, 30, 30, 1);
}

.works-img-Firsttitle {
  padding-top: 139px;
}

.works-img-Firsttitle {
}

/* *終點 */
